html, body{
	height:100%; padding:0; margin:0; 
}

/* bring in fonts */
@font-face {
    font-family: "Brown-Regular";
    src: url(Brown-Regular.otf) format("opentype");
}
@font-face {
    font-family: "Brown-Light";
    src: url(Brown-Light.otf) format("opentype");
}

/* main div with left/app div and right/map div */
#cd_wrap{
	display:flex; height:100%; width:100%; color:#3C454A; font-size:13px; font-family:Brown-Regular;
}
#cd_left{
	flex:0 0 380px; padding:8px 0px 8px 8px; box-shadow: 0px 0px 16px 0px rgba(51, 51, 51, 0.42); z-index:10; overflow-y:auto; background:#f7f7f7;
}
#cd_map{
	height:100%; width:100%;
}

/* h3 styles and info icon and text */
#cd_wrap h3{
	font-size:15px; font-weight:normal; margin:14px 0 8px 0;
}
.h3InfoIcon {
    margin-bottom:-2px; margin-left:3px; cursor:pointer;
}
.hideH3InfoIcon {
    margin-bottom:-2px; margin-left:3px; cursor:pointer; display:none;
}
.h3Info{
	display:none; font-family:Brown-Light; color:#8a8a8a; margin:-4 10px 0 4px;
}

/* wrapper div for flexbox rows */
.flex-wrap{
	display:flex; flex-direction:row; 
}

/* chosen */
.chosen-wrap .chosen-container-single .chosen-single{
 	padding:6px 0 0 10px; height:35px; border:1px solid #A7ACAF; border-radius:0px; background:#fff; background-clip:padding-box;
 	color:#3C454A; text-decoration:none; white-space:nowrap; line-height:1.5; text-align:left; box-shadow:none;
}
.chosen-wrap .chosen-container-single .chosen-single div b{
 	margin-top:4px
}
.chosen-wrap .chosen-container-single .chosen-single abbr{
 	top:10px;right:20px
}
.chosen-wrap .chosen-container-single span{
 	color:#3C454A; margin-right:0; font-size:14px;
}

/* hide stats before initial country selection */
.country-selected{
	display:none;
}

/* country report button */
.country-report-wrap{
	margin-left:6px; 
}	
.cr-button{
 	display:inline-block; -webkit-appearance:none; cursor:pointer; vertical-align:middle; text-align:center; text-decoration:none; overflow:visible; 
 	font-size:13px; line-height:1.5; padding:7px 10px; border-radius:0px; background-color:#fff; border:1px solid #A7ACAF; color:#3C454A;
}

/* three large attribute divs */
.att-div{
	width:102px; margin:3px; border:1pt solid #A7ACAF; padding:5px; position:relative; min-height:72px;
}
.sum-att{
	color:#3C454A; font-size:24px; font-weight:bold; text-align:center; margin-top:10px; margin-bottom:0px;
}
.sum-att-label{
	font-size:11px; text-align:center; margin:0; color:#8a8a8a;
}
.sum-label{
	text-align:center; font-family:Brown-Light;
}
.att-div-last{
	background:#3C454A; color:#fff;
}
.sum-att-last{
	color:#fff;
}
.sum-att-info{
	display:none; font-family:Brown-Light; color:#8a8a8a; margin-top:4px;
}
.att-div-last .sum-att-info{
	color:#fff;
}
.ur-corner::before,
.ur-corner::after {
    content:''; position:absolute; top:0; right:0; border-color: transparent; border-style:solid;
}
.ur-corner::before {
    border-width: 1px; border-right-color:#B0D6EA; border-top-color:#B0D6EA;
}
.ur-corner::after {
    border-radius:0; border-width:8px; border-right-color:#B0D6EA; border-top-color:#B0D6EA;
}
.infoIconAttDiv{
	cursor:pointer; position:absolute; bottom:2px; right:2px;
}
.hideInfoIconAttDiv{
	display:none; cursor:pointer; position:absolute; bottom:2px; right:2px;
}

/* mitigation portential for select pathways chart and labels */
#pathwayChart{
	height:257px !important; width:300px !important; margin-left:54px;
}
.pathway-name-wrap{
	position:absolute; top:20px; left:0px; 
}
.pathway-name{
	display:flex; font-size:14px; font-family:Brown-Light; margin-bottom:8px;
}
.pathway-label{
	display:flex; justify-content:flex-end; flex:0 0 66px;
}
.pathway-link{
	color:#0921ea; text-decoration:none; flex:0 0 267px; margin-left:8px; cursor:pointer;
}
.pathway-arrow{
	flex:1; 
}
.p-a{
	color:#3C454A; font-weight:bold; font-size:14px; font-family:Brown-Light;
}
.chart-units{
	font-size:11px; color:#8a8a8a; margin-bottom:-5px;
}

/*pie chart showing max vs cost effective*/
#mcPieChart{
	height:40px !important; width:40px !important;
}
#pieChartDiv{
	border:1px solid #A7ACAF; background:#fff; box-shadow:0 1px 1px rgba(16,22,26,.2); display:none; padding:3px; 
}
.pieinfo-wrap{
	font-size:13px; font-family:Brown-Light; text-align:center; margin-top:2px;
}
.pieinfo-wrap .flex-wrap:last-of-type{
	margin-top:6px;
}
.pie-box{
	height:12px; width:12px; margin:1px 4px 0 5px;
}
.pie-text{
	font-size:13px; font-family:Brown-Light; margin-top:2px;
}
#pieCloseWrap{
	margin-left:4px;
}
#closePieInfo{
	cursor:pointer; margin:-1px -1px 0 0;
}
#pie-learn-more-wrap{
	text-align:center; margin-top:2px; color:#0921ea; font-size:13px; font-family:Brown-Light;
}
#pie-link{
	cursor:pointer; 
}

/* contribution to paris commitment chart and labels */
.commit-div{
	position:relative; display:flex; width:360px; margin-top:-10px;
}
.commitment-wrap{
	 margin-top:17px;
}
#commitmentChart{
	height:150px !important; width:250px !important;
}
.legend-wrap{
	margin-top:50px; margin-left:10px;
}
.legend-wrap .flex-wrap:last-of-type{
	margin-top:8px;
}
.legend-box{
	height:24px; width:24px; margin:1px 5px 0 4px;
}
.max-potential-box{
	background:#49B2E3; box-shadow:0 1px 1px rgba(16,22,26,.2);
}
.cost-efective-box{
	background:#247BB6; box-shadow:0 1px 1px rgba(16,22,26,.2);
}
.legend-text{
	font-size:13px; width:70px; font-family:Brown-Light;
}
.label-wrap{
	display:flex; font-size:13px; margin:-23px 0px 0px 58px; width:171px; font-family:Brown-Light; text-align:center;
}
/* esri slider position and colors */
.esriSimpleSliderTL {
    top:10px; left:10px;
}
.esriSimpleSlider {
    border: 1px solid #A7ACAF; background-color:#f7f7f7; color:#3C454A; -webkit-border-radius:0px; -moz-border-radius:0px;
    -o-border-radius:0px; border-radius:0px;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
    border-bottom: 1px solid #A7ACAF; -webkit-border-radius:0; border-radius:0;
}
.esriSimpleSlider div {
    width:26px; height:26px; font-family: Brown-Regular; line-height:26px;
}

/* media queries */
/* drop the map for anything less than 500px wide/portrait view */
@media (max-width:500px){
	#cd_wrap{
		background:#f7f7f7;
	}
	#cd_left{
		box-shadow:none; 
	}
	#cd_map{
		display:none; 
	}
}
@media (max-width:360px){
	/* left div width */
	#cd_left{
		flex:0 0 312px;
	}
	/* width of three large attribute divs */
	.att-div{
		width:84px; padding:5px 5px 12px 5px; 
	}
	/* chosen menu and country report button widths */
	#selectCountry_chosen{
		width:190px !important; 
	}
	.cr-button{
		padding:7px 5px; margin-top:0;
	}
	/* pathway chart width */
	#pathwayChart{
		width:250px !important;
	}
	.pathway-link{
		flex:0 0 218px;
	}
	/* commitment chart width and label width */
	#commitmentChart{
		height:150px !important; width:200px !important;
	}
	.commit-div{
		width:310px;
	}
	.label-wrap {
    	margin:-23px 0px 0px 38px; width:143px;
	}
}	